@import "../../../assets/styles/variables";

.category-flowers {
  padding: 20px 24px;
  margin: 16px 0;
  box-shadow: 0 4px 12px #eaeaea;

  .category-header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &.expanded {
      margin-bottom: 16px;
    }

    span {
      align-self: flex-end;
    }
  }

  .category-body {
    display: flex;
    flex-direction: column;
  }
}
