<section *ngIf="showedFlowers.length > 0" class="category-flowers">
  <div class="category-header" (click)="toggleBody()" [ngClass]="{ 'expanded': expanded }">
    <h3 class="category-title">{{ getCategoryName() + ' (' + showedFlowers.length + ')'}}</h3>
    <span class="mdi" [ngClass]="{ 'mdi-chevron-down': expanded, 'mdi-chevron-right': !expanded }"></span>
  </div>
  <div class="category-body" *ngIf="expanded">
    <app-flowers-list-item *ngFor="let flower of showedFlowers | sortBy: 'name'; let i = index" [flower]="flower" [ngClass]="{'last': i === (showedFlowers.length - 1)}"></app-flowers-list-item>
  </div>
</section>
