/* COLOR PALETTE */
$imperialred: rgba(230, 57, 70, 1);
$honeydew: rgba(241, 250, 238, 1);
$powderblue: rgba(168, 218, 220, 1);
$celadonblue: rgba(69, 123, 157, 1);
$prussionblue: rgba(29, 53, 87, 1);
