@import '../../../assets/styles/variables';

:host {
  flex: 0 0 auto;
  border-bottom: solid 1px darken($honeydew, 10);

  &.last {
    border-bottom: none;
  }

  .flower-list-item {
    font-size: 0.8em;
    padding: 16px 12px;

    &:hover {
      cursor: pointer;
      background-color: $honeydew;
      color: $prussionblue !important;
      font-weight: 500;
    }

    a {
      text-decoration: none;
    }


  }
}

